## Quiz 4

Answer the questions in the box provided. You need to run the code and show the output for the questions which require coding or type your answer inside the box for the fill-in-the-blank questions. This is an open-book quiz. You are allowed to consult any local or online resources, except for ChatGPT. Any misconduct or cheating will result in a score of 0. Good luck!

<font size = 3> For all questions except 1-1 and 1-3, follow these steps:
* Write code to solve the question in the first box (the box labeled with the phrase #Write your code here: ).
* In the following box(es), provide the correct answer in the blank ..... <br>

<font size = 3> In order to receive a point for a question, both boxes must contain correct answers.

## Part 1

1-1 Use Pandas to read the `starbucks` dataset from `starbucks.csv` into a DataFrame.

1-2 Use Pandas to figure out how many columns and rows the DF has.

In [ ]:
#Write your code here:

number of columns is .....

number of rows is .....

1-3 Write a code that inspects the first 19 rows in the first box below and a code that inspects the last 5 rows in the second box.

1-4 Which columns (if any) have missing values?

In [ ]:
#Write your code here:

The columns which contain missing values are .....

1-5 How many floats columns are in the DataFrame?

In [ ]:
#Write your code here:

The number of floats columns is ......

## Part 2

**Use `starbucks.csv` to answer the following questions:**

2-1 Find the highest Calories in the DataFrame.

In [ ]:
#Write your code here:

The highest calories in the DataFrame is .....

2-2 What is the average calories, rounded to one decimal digit, of the last 56 rows?

In [ ]:
#Write your code here:

The average calories of the last 56 rows is .....

2-3 What is the sum of all the values in the `Total Carbohydrates` column?

In [ ]:
#Write your code here:

The sum of the values in the `Total Carbohydrates` column is .....

2-4 How many different beverage categories are in the dataset?

In [ ]:
#Write your code here:

The dataframe has ..... beverage categories.

2-5 Which beverage has the most transactions? How many times does it appear in the dataset?

In [ ]:
#Write your code here:

The name of the beverage which has the most transactions is .....

It appears in the dataset ..... times.